[submodule "assisted-service-mcp"]
	path = assisted-service-mcp
	url = https://github.com/openshift-assisted/assisted-service-mcp
	branch = master
[submodule "lightspeed-stack"]
	path = lightspeed-stack
	url = https://github.com/omertuc/lightspeed-stack
	branch = ownllama
[submodule "inspector"]
	path = inspector
	url = https://github.com/omertuc/inspector
	branch = imager
[submodule "assisted-installer-ui"]
	path = assisted-installer-ui
	url = https://github.com/openshift-assisted/assisted-installer-ui
[submodule "llama-stack"]
	path = llama-stack
	url = https://github.com/meta-llama/llama-stack
