/.env
/config/lightspeed-stack.yaml
/config/systemprompt.txt
/config/vertex-credentials.json
.vscode
ocm_token.txt
# Token files in test/evals directory
test/evals/*token*
.venv
.python-version

# Evaluation output folder
eval_output*/
.template-params.override.env
